/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
    margin : 0;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  font-family: arial,helvetica,sans-serif;
  background-color:#DC6012;
  background-image: url("../img/bg.gif");
  background-repeat: repeat-x;
  color: #FFFFFF;
  font: 11px/16px arial,helvetica,sans-serif;
  margin: 10px;
  padding: 0;
  position: relative;
  text-align: center;
}

#footer a {
  color: #0E3C82;
}

#head_white
{
  background-image: url("../img/bg-white.jpeg");
  width:100%;
  content:"";
  min-height:100%;
  background-repeat: repeat-y;
}

#head_red
{
  background-color:#D50E09;
  content:"";
  margin:80px 0px 0px 0px;
  height:25px;
}

#tail_content
{
  background-color: #DC6012;
  width: 100%;
  height: 100%;
}

.content {
  background-color: #F0C9B8;
  width: 600px;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid #000;
  box-shadow: 3px 5px 7px #999;
  background-color: #F0C9B8;
  height: 500px;
  padding: 5px;
  font: 11px arial,helvetica,sans-serif;
}

#nav-image
{
  position:relative;
  margin:-111px 0px 0px 170px;
  z-index:1;
}

.bcolor
{
  background-color: #CDAC4F;
  color: black;
  display:block;
  height: 150px;
  margin: 0 auto;
  width: 250px;
  border: 1px solid #000;
}

.align

{
  margin:0px 0px 0px 350px;
}


#content-container {
  margin: 0 auto;
  margin-top: 6.1%;;
  text-align:justify;
  width: 600px;
  background-color: #FFF;
  color: #000;
  border: 1px solid black;
  height: 400px auto;
}

#logo {
  position:relative;
  top:-55px;
}

h3{
  color:black;
  font: 14px/20px verdana;
  padding-left: 5px;
}
/*#image
{
position:relative;
margin:-14px 0px 0px 0px;
z-index:1;
}*/

.content-page
{
  background-color:#F0C9B8;
  height:500px;
  padding:5px 5px 5px 5px;
  font:11px arial,helvetica,sans-serif;
}

.sub-edit
{
  font-weight:bold
}

.sub-content-page
{
  border:1px solid #000;
  padding:5px 5px 5px 5px;
  font:11px arial,helvetica,sans-serif;
}

/* nav menu css */
#navigation {
  position: absolute;
  top: 9.8%;
  left: 45%;
  z-index: 100;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
{
	background-color:#DC6012;
	background-image: url(static/img/bg-white.jpeg);
}
.bcolor
{
background-color: #F0C9B8;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

